html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	color: #fff;
}
button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
	position: relative;
	min-height: 100%;
	font-size: 18px;
}

@media only screen and (max-width: 468px) {
	html {
		font-size: 16px;
	}
}
body {
	background-color: #262626;
	background-image: linear-gradient(147deg, #04619f 0%, #262626 74%);
	background-size: cover;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

a:not(.nostyle) {
	color: #ff0;
	text-decoration: none;
}
.nostyle {
	text-decoration: none;
}

a:not(.nostyle):hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
